# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio & Gradle
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
android/local.properties
android/.gradle

# Keystores and sensitive credentials
*.keystore
*.jks
key.properties
android/key.properties
ios/Runner/GoogleService-Info.plist.backup
android/app/google-services.json.backup

# Environment variables
.env*
!.env.example

# Fastlane
android/fastlane/report.xml
android/fastlane/Preview.html
ios/fastlane/report.xml
ios/fastlane/Preview.html
